html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
/* --------- BUTTONS --------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  /* color: #333; */
  /* border-color: #888; */
  outline: 0;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  width: 100%;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
/* ----------- new ----------- */

body {
  background: #fbffe6;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 1fr 0.5fr repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  height: 100vh;
  grid-template-areas:
    ". header ."
    ". task ."
    ". task-list ."
    ". footer .";
}

#header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  color: #555;
  text-shadow: -1px -1px 0 #fb9a40, 1px -1px 0 #fb9a40, -1px 1px 0 #fb9a40,
      1px 1px 0 #fb9a40;
}

h3 {
  margin-bottom: 0;
}
#task {
  grid-area: task;
  position: relative;
}

input {
  width: 100%;
}

#submit {
  margin: 4px 0;
  background: #d0f9f5;
  border: none;
}

#task-list {
  grid-area: task-list;
}

#footer {
  grid-area: footer;
  min-height: 511px;
}

/* ~~~~~~~~~~~ Task Grid ~~~~~~~~~~~ */

.tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.66fr repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-areas:
    "task-label duration-label"
    "start reset"
    "progress delete";
  background: #fefff8;
  border: solid 1px #fdc38d;
  border-radius: 4px;
  padding: 4px;
  margin: 4px 0 8px 0;
}
/* label */
.task-label {
  grid-area: task-label;
  font-size: 1.67rem;
  margin-left: 4px;
  align-self: center;
}
/* label Numbers */
.duration-label {
  grid-area: duration-label;
  text-align: right;
  margin-right: 4px;
  justify-self: right;
  align-self: center;
}
/* start */
.task-button {
  grid-area: start;
  background: #ebffeb;
  border-color: lightgreen;
  color: green;
}
/* reset */
.clear-button {
  grid-area: reset;
  background: #a3f3eb;
  border: none;
}
/* progress */
.progress-button {
  grid-area: progress;
  background: #fbd341;
  border: none;
}
/* delete */
.delete-button {
  grid-area: delete;
  background: #fb9a40;
  border: none;
}

[data-pulse="true"] {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {color: white}
  50% {color: black}
  100% { color: white}
}
